@charset "UTF-8";
/**/
:root{
    --Cyan: hsl(179, 62%, 43%);
    --corBg2: #2bb3b1;
    --corBg3: #4abebd;
    --corSecondaryTitle: #e9ffff;
    --Bright-Yellow: hsl(71, 73%, 54%);

    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);

    --font-karla:'Karla', sans-serif;
    /*size 16px = 1em*/
    /*wheights 400, 700*/
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font-karla);
}
body{
    background-color: var(--Light-Gray);
    width: 98.5vw;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 375px;
    height: 856px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.142);
}
section{
    width: 375px;
    /*box-sizing: border-box;
    padding-left: 25px;*/
}
.spaceLeft{
    margin-left: 25px;
}
section.container1{
    background-color: white;
    border-radius: 10px 10px 0 0;
}
section.container2{
    background-color: var(--corBg2);
    padding-top: 30px;
}
section.container3{
    background-color: var(--corBg3);
    padding-top: 30px;
    border-radius: 0 0 10px 10px;
}
section.container1 > h1{ 
    font-size: 1.5em;
    font-weight: 700;
    color: var(--Cyan);
    margin-top: 30px;
}
section.container1 > h2{ 
    font-size: 1.3em;
    font-weight: 700;
    color: var(--Bright-Yellow);
    margin-top: 30px;
}
section.container1 > p{ 
    font-size: 1em;
    font-weight: 400;
    color: var(--Grayish-Blue);
    margin: 25px 30px 40px;
    line-height: 25px;
}
section.container2 > h1{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--corSecondaryTitle);
    margin-bottom: 25px;
}
section.container2 > p.parag1{ 
    font-size: 1em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.423);
}
section.container2 > p.parag2{ 
    font-size: 1em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.678);
    margin-top: 15px;
    margin-bottom: 30px;
}
section.container2 > p > span{ 
    font-size: 2em;
    font-weight: 700;
    color: white;
    margin-right: 15px;
}

section.container2 > button{
    width: 325px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--Bright-Yellow);
    color: white;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 24px;
    box-shadow: 0 10px 40px #03353446;
}
section.container2 > button:hover{
    cursor: pointer;
    box-shadow: 0 0px 20px var(--Bright-Yellow);
}
section.container3 > h1{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--corSecondaryTitle);
    margin-bottom: 30px;
}
section.container3 > p{ 
    font-size: 1em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.678);
    margin-bottom: 30px;
    margin-right: 30px;
    line-height: 25px;
}

@media screen and (min-width: 601px){
    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main{
        width: 635px;
        height: 475px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        grid-template-areas:
        "container1 container1"
        "container2 container3";
        border-radius: 10px;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.142);
    }
    
    .spaceLeft{
        margin-left: 35px;
    }
    
    section.container1{
        grid-area: container1;
        width: 635px;
        height: 217px;
        background-color: white;
        border-radius: 10px 10px 0 0;
    }
    section.container2{
        grid-area: container2;
        width: 317.5px;
        height: 248px;
        background-color: var(--corBg2);
        padding-top: 40px;
        border-radius: 0 0 0 10px;
    }
    section.container3{
        grid-area: container3;
        width: 317.5px;
        height: 248px;
        background-color: var(--corBg3);
        padding-top: 40px;
        border-radius: 0 0 10px 0px;
    }
    section.container2 > h1{
        font-size: 1.25em;
        font-weight: 700;
        color: var(--corSecondaryTitle);
        margin-bottom: 20px;
        margin-top: 5px;
    }
    section.container2 > button{
        width: 237.5px;
        margin-left: 40px;
    }
    section.container3 > h1{
        font-size: 1.25em;
        font-weight: 700;
        color: var(--corSecondaryTitle);
        margin-bottom: 22px;
        margin-top: 5px;
    }
    section.container3 > p{ 
        font-size: .9em;
        line-height: 20px;
    }
}